.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.inputText,.select{
  width: 100%;
  /* padding: 12px 20px; */
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.inputText:focus,.select:focus{
  outline: none;
  border-color: #6b9ce9;
  box-shadow: 0 0 10px #6b9ce9;
}

/* input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
} */

/* input[type=text]:focus, select:focus {
  outline: none;
  border-color: #6b9ce9;
  box-shadow: 0 0 10px #6b9ce9;
} */

.label {
  margin: 8px 0;
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.inputCheckBox{
  margin-right: 10px;
  transform: scale(1.5);
}

/* input[type=checkbox] {
  margin-right: 10px;
  transform: scale(1.5);
} */

.submitButton{
  background-color: #c8a970;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
/* button[type=submit] {
  background-color: #6b9ce9;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
} */

.submitButton:hover{
  background-color: #bfc1ca;
}

/* button[type=submit]:hover {
  background-color: #4c7bdb;
} */

