.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form-label {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* .form-select {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
} */

.form-select {
  direction: rtl; /* sets the text direction to right-to-left */
  width: 100%; /* sets the width of the select to 100% of the parent container */
  max-width: 400px; /* sets a maximum width for the select */
  border: none; /* removes the default border */
  border-radius: 8px; /* adds a rounded border */
  padding: 12px; /* adds some padding to the select */
  /* padding-right: 20px; */
  font-size: 16px; /* sets the font size */
  background-color: #f2f2f2; /* sets the background color */
  color: #333; /* sets the text color */
  -webkit-appearance: none; /* removes the default appearance */
  -moz-appearance: none; /* removes the default appearance */
  appearance: none; /* removes the default appearance */
}


.form-select-arrow{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8' viewBox='0 0 14 8'%3E%3Cpath d='M13.354.354a.5.5 0 0 0-.708 0L7 6.293.354.354a.5.5 0 0 0-.708.708L7 7.707l6.354-6.353a.5.5 0 0 0 0-.708z'/%3E%3C/svg%3E"); 
  background-repeat: no-repeat; 
  background-position: left center; 
  background-position-x: 15px;
}

.form-submit {
  padding: 0.8rem 1.2rem;
  background-color: #6a91e2;
  background-image: linear-gradient(to bottom, #6a91e2, #5277b5);
  color: #fff;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Added transition for background color and box shadow */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-submit:hover {
  background-color: #2b8bc6; /* New hover color */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Added box shadow on hover */
}